
<h2>A very basic Rock Paper Scissors Game</h2>
<h3>How to Play </h3>
<p>Enter your choices of throw; rock, paper, or scissors into the URL bar separated by a / symbol</p>

<h3>Or Play an AI</h3>
<p><a href="/aigame/rock">Choose rock</a></p>
<p><a href="/aigame/paper">Choose paper</a></p>
<p><a href="/aigame/scissors">Choose scissors</a></p>
